.popup__container {
  position: relative;
  display: flex;
  max-width: 800px;
  background-color: #ffffff;
}

@media (max-width: 800px) {
  .popup__container {
    width: 80%;
    height: 80%;
    flex-direction: column;
  }
}
